.project-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-header-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.stepper {
  padding: 10px !important;
  min-width: 18vw !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: teal !important;
}

.status-chip {
  display: flex;
  align-items: baseline;
}

.status-chip > p {
  padding-right: 20px;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: bold;
}
